{% load static %}
<link rel="stylesheet" href="{% static 'main/css/sidebar.css' %}">
<div class="sidebar">
    <a href="{% url 'home' %}">
        <div class="logo_content">
            <div class="logo">
                <i class="fas fa-graduation-cap"></i>
                <div class="logo_name">CheckUp</div>
            </div>
        </div>
    </a>
    <ul class="nav_list">
        <li>
            <a href="{% url 'groups' %}">
                <i class="fas fa-users"></i>
                <span class="links_name">Группы</span>
            </a>
        </li>
    </ul>
    <a href="{% url 'home' %}">
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <i class="fas fa-user"></i>
                    <div class="name_job">
                        <div class="name">{{ user.last_name }} {{ user.first_name|first }}.</div>
                        <div class="job">{{ user.profile.status }}</div>
                    </div>
                </div>
                <object type="logout">
                    <a class="bx bx-log-out" id="log_out" href="{% url 'logout' %}"></a>
                </object>
            </div>
        </div>
    </a>
</div>